<%= form_for(@terminal) do |f| %>
  <% if @terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terminal.errors.count, "error") %> prohibited this terminal from being saved:</h2>

      <ul>
      <% @terminal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label 'Att Name' %><br>
    <textarea name="terminal[attributes_of_terminals][att_name]" id="terminal_attributes_of_terminals_att_name"><%= @terminal.attributes_of_terminals["att_name"] %></textarea>
  </div>
  <div class="field">
    <%= f.label 'Att Time' %><br>
    <textarea name="terminal[attributes_of_terminals][att_time]" id="terminal_attributes_of_terminals_att_time"><%= @terminal.attributes_of_terminals["att_time"] %></textarea>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
