<p id="notice"><%= notice %></p>

<h1>Listing Terminals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Attributes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terminals.each do |terminal| %>
      <tr>
        <td><%= terminal.name %></td>
        <td><%= terminal.description %></td>
        <td>
          <table>
            <tr>
              <th>att_name</th>
              <th>att_time</th>
            </tr>
            <tr>
              <td><%= terminal.attributes_of_terminals["att_name"] %></td>
              <td><%= terminal.attributes_of_terminals["att_time"] %></td>
            </tr>
          </table>
        </td>
        <td><%= link_to 'Show', terminal %></td>
        <td><%= link_to 'Edit', edit_terminal_path(terminal) %></td>
        <td><%= link_to 'Destroy', terminal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terminal', new_terminal_path %>
