<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @terminal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @terminal.description %>
</p>

<p>
  <strong>Attributes_att_name:</strong>
  <%= @terminal.attributes_of_terminals["att_name"] %>
</p>

<p>
  <strong>Attributes_att_time:</strong>
  <%= @terminal.attributes_of_terminals["att_time"] %>
</p>

<%= link_to 'Edit', edit_terminal_path(@terminal) %> |
<%= link_to 'Back', terminals_path %>
